.searchSection form div {
    width: 560px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #ced4da;
    background-color: #FFF;
    padding: 10px 30px;
}

.searchSection form div span i {
    margin-right: 10px;
}

.searchSection form input {
    position: relative;
    display: inline-block;
    width: 470px;
    height: 30px;
    border-style: none;
}